.wrapper-sidebar {
    .container-sidebar {
        margin-top: 0px;
        padding-top: 0px;
        background-color: #274472 !important;
        position: fixed;
        width: 251px;
        height: 140%;
        overflow-x: hidden;
        padding-right: 0px !important;
        z-index: 1;
    }
}